<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Login</h1>

    <form action="/login" method="post">
        <!-- Bruk label og input -->
         <label for="inpUser">Brukernavn:</label>
         <input type="text" id="inpUser" name="username"><br>
         <label for="inpPassword">Brukernavn:</label>
         <input type="password" id="inpPassword" name="password">

         <input type="submit" value="Logg inn">
    </form>
</body>
</html>