<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Brukeroversikt</h1>
    <ul>
        <li><a href="/visallebrukere">Vis alle brukere</a></li>
        <li><a href="/visutvikling">Vis alle brukere på Utvikling</a></li>
    </ul>
</body>
</html>