<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>blogg</h1>

    <h2>innlegg</h2>

    <% for(let i=0; i<blogs.length; i++) { %>
    <h3><%=blogs[i].tittel %></h3>
    <p>Av <%=blogs[i].forfatter%></p>
    <p><%=blogs[i].innhold%></p>

    <hr>
    <% } %>
    


    

</body>
</html>