<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <% if(locals.error) { %>
    <h1>Feil med logg inn</h1>
    <h2><%= error %></h2>
    <% } else { %>
    
    <h1>Logg inn</h1>

    <form action="/send-code" method="post">
        <label for="inpEmail">E-post:</label>
        <input type="email" id="inpEmail" name="email" required>
        <br>
        <input type="submit" value="Logg inn">
    </form>
    <% } %>
</body>
</html>